#container-form {
  background-color: #5bbff5;
  border: solid 3px #000000;
  border-radius: 10%;
}

.container-installation {
  background-color: #0077b6 !important;
  border: solid 3px #000000;
  color: white;
}

#installations-list {
  gap: 2%;
}
