/* A mettre dans tous les css */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E0E0E0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}
/*jusque ici*/

#container-form {
    background-color: #5BBFF5;
    border: solid 3px #000000;
}

.container-installation{
    background-color: #0077B6 !important;
    border: solid 3px #000000;
    color: white;
    width: 30% !important;
}

.container-installation:hover{
    cursor: pointer;
    background-color: #1c92d2 !important;
}

#installations-list {
    gap: 2%;
}
